@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.about-us {
  padding: 32px 0;
  position: relative;
  overflow: hidden;
  background: linear-gradient(135deg,
      rgba(255, 255, 255, 0.02),
      rgba(0, 0, 0, 0.2));


  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background:
      radial-gradient(circle at top right,
        rgba(238, 193, 58, .08),
        transparent 45%);
    pointer-events: none;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  &__hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: stretch;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__title {
    margin: 0;
    font-size: clamp(42px, 6vw, 72px);
    line-height: 1.05;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__text {
    margin: 0;
    color: #cfcfcf;
    font-size: 18px;
    line-height: 1.9;
    max-width: 620px;

    &--gold {
      color: $color-gold;
      font-weight: 600;
    }

    &-title {
      position: relative;
      width: fit-content;
      color: $color-gold;
      font-size: 34px;
      font-family: $font-display;
      font-weight: 600;
      text-transform: uppercase;
      margin: 0;

      &::before {
        content: "";
        position: absolute;
        bottom: -10px;
        height: 2px;
        width: 100%;
        background: linear-gradient(to right,
            transparent,
            rgba(#e0be7e, .8),
            transparent);
      }
    }
  }

  &__hero-image {
    position: relative;
    min-height: 0;
    overflow: hidden;
    border-radius: 24px;
    // background: rgba(255, 255, 255, 0.01);

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      display: block;
      object-fit: contain;
      transition: 0.5s;
    }

    &:hover img {
      transform: scale(1.04);
    }
  }

  &__founders-heading {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 50px 0;
  }

  &__founders-title {
    margin: 0;
    flex-shrink: 0;

    color: $color-gold;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .45em;
    text-transform: uppercase;
  }

  &__line {
    flex: 1;
    height: 1px;

    background: linear-gradient(to right,
        transparent,
        rgba(#e0be7e, .8),
        transparent);
  }

  &__founders {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__card {
    position: relative;
    overflow: hidden;
    width: 280px;
    border-radius: 6px;
    background: rgba(255, 255, 255, .03);
    transition: .35s ease;

    &:hover {
      transform: translateY(-8px);
      box-shadow: 0 20px 40px rgba(0, 0, 0, .35);
    }

    &:hover img {
      transform: scale(1.05);
    }
  }

  &__card-image {
    width: 100%;
    // aspect-ratio: 9 / 16;
    display: block;
    object-fit: cover;
    object-position: top;
    transition: .45s ease;
    max-height: 400px;
  }

  &__overlay {
    position: absolute;
    left: 8px;
    right: 8px;
    bottom: 8px;

    padding: 20px;

    border-radius: 6px;

    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(2px);

    h3 {
      margin: 0 0 8px;
      color: white;
      font-size: 22px;
      font-weight: 700;
    }

    p {
      margin: 0;
      color: $color-gold;
      font-size: 12px;
      letter-spacing: .05em;
      text-transform: uppercase;
    }
  }

  @include media-down(1100px) {

    padding: 70px 0;

    &__hero {
      gap: 40px;
    }

    &__founders {
      grid-template-columns: repeat(2, 1fr);
    }

    &__title {
      font-size: clamp(38px, 5vw, 54px);
    }
  }

  @include media-down(768px) {

    padding: 50px 0;

    &__founders-heading {
      gap: 12px;
      margin: 60px 0 30px;
    }

    &__founders-title {
      font-size: 14px;
      letter-spacing: .25em;
    }

    &__hero {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    &__content {
      position: relative;
      z-index: 0;
    }

    &__hero-image {
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
      position: absolute;
      height: 400px;
      opacity: .1;
    }

    &__title {
      font-size: 38px;
    }

    &__text {
      font-size: 16px;
      line-height: 1.8;
    }

    &__founders {
      grid-template-columns: 1fr;
      margin-top: 60px;
      gap: 22px;
    }

    &__overlay {
      left: 15px;
      right: 15px;
      bottom: 15px;

      h3 {
        font-size: 20px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  @include media-down(480px) {

    &__title {
      font-size: 32px;
    }

    &__text {
      font-size: 15px;
    }

    &__overlay {
      padding: 16px;

      h3 {
        font-size: 18px;
      }

      p {
        font-size: 13px;
      }
    }
  }
}