@use '../../../styles/variables' as *;

.section-heading {
  margin-bottom: 44px;
  text-align: center;

  &--center {
    margin-inline: auto;
    text-align: center;
  }

  &__eyebrow {
    margin-bottom: 6px;
    text-transform: uppercase;
    color: $color-gold;
    font-size: clamp(24px, 6.4vw, 34px);
    font-family: $font-display;
    font-weight: 600;
  }

  &__title {
    margin: 0 0 16px;
    font-family: $font-display;
    font-size: clamp(24px, 6.4vw, 26px);
    line-height: 1.2;
    // text-transform: uppercase;
    // letter-spacing: -0.035em;
    font-weight: 400;
  }

  &__description {
    margin: 0;
    color: $color-text-muted;
    font-size: 18px;
    line-height: 1.7;
  }
}